<!doctype html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="edge-ui" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Live Streaming Robot Edge Demonstration</title>
</head>
<body>
<div class="container">
    <div id="video_display">
        <div style="width: auto; margin-left: auto; margin-right: auto">
            <h3>Inference Output Video Streaming</h3>
            <img width="80%" src="{{ url_for('video') }}">
        </div>
        <div id="event_display" style="width: auto; margin-left: auto; margin-right: auto">
            <h3>Robot State Change Events: </h3>
            <textarea readonly cols="60" rows="8" wrap="hard" id="events"></textarea> 
        <div>

        <script>

            var url = "{{ url_for('events') }}"
            const socket = new WebSocket(url);
            socket.addEventListener('message', ev => {
                msg = JSON.parse(ev.data);
                document.getElementById('events').innerHTML =  msg['text'] + "\n" + 
                    document.getElementById('events').innerHTML;
            });
    
        </script>
    </div>
</div>
</body>
</html>